<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>ACP Check-In</title>
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link href="../static/css/navbar.css" th:href="@{/css/navbar.css}" type="text/css" rel="stylesheet"/>
	</head>

    <body>
		<div th:replace="fragments/headerAdmin.html :: header"></div>
		<br>
    	<div>
			<form action="#" th:action="@{/addSchool}" th:object="${school}" method="POST">
				<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
	            <fieldset>
	            	<legend><h3>Add School</h3></legend>
		            <table>
		                <tr>
		                    <td>TEA:</td>
		                    <td><input type="number" th:field="*{tea}"/></td>
		                    <td th:if="${#fields.hasErrors('tea')}" th:errors="*{tea}">TEA error!</td>
		                </tr>
		                <tr>
		                    <td>School Name:</td>
		                    <td><input type="text" th:field="*{name}"/></td>
		                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error!</td>
		                </tr>
		                <tr>
		                    <td>Route:</td>
		                    <td><input type="text" th:field="*{route}"/></td>
		                    <td th:if="${#fields.hasErrors('route')}" th:errors="*{route}">Route error!</td>
		                </tr>
		                <tr>
							<td></td>
		                    <td><input type="submit" value="Submit"/></td>
		                </tr>
		            </table>
	            </fieldset>
        	</form>
		  </div>
		  <br>
  		<div>
	        <table class="schoolList">
	        	<thead>
                <tr th:unless="${#lists.isEmpty(schools)}">
                    <th>TEA</th>
                    <th>School Name</th>
                    <th>Route</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="school, iterStat : ${schools}" th:class="${iterStat.even}? 'even' : 'odd'">
                    <td th:text="${#numbers.formatDecimal(school.tea,3,0)}">000</td>
                    <td th:text="${school.name}">Dallas School</td>
                    <td th:text="${school.route}">A01</td>
                </tr>
            </tbody>
	        </table>
		</div>
		<div th:replace="fragments/footer.html :: footer"></div>
    </body>
</html>